// 상단 Navbar
.mainHeader {
  height: 5%;

  // 로고 영역
  .navbar-brand {
    height: 100%;
    margin: 0;
    padding: 0;
    img {
      height: 100%;
    }
  }

  // 햄버거 영역
  .navbar-toggler {
    height: 100%;
    padding: 0;
    .navbar-toggler-icon {
      height: 100%;
      vertical-align: top;
    }
  }
}
// 상단 끝
