// page-main-header
// main-header
// header-left
// logo-wrapper
// header-right
// righr-menu
// nav-menus

.page-wrapper {
  .page-main-header {
    background-color: rgb(248, 249, 250);
    position: $main-header-position;
    top: $main-header-top;
    z-index: $main-header-z-index;
    width: calc();
    display: flex;
    align-items: center;
    transition: $sidebar-transition;
  }

  // .page-body-wrapper {
  //   background-color: white;
  //   .page-body {
  //     min-height: calc(100vh - #{$header-size});
  //     margin-top: $header-size;
  //     padding: $page-body-padding;
  //     position: relative;
  //     background-color: light;
  //     margin-left: $page-body-width;
  //     transition: 0.6s;
  //   }
  // }
}

.page-main-header {
  // start
  .logo-wrapper {
    img {
      width: 80px;
      margin-top: 10px;
      margin-right: 15px;
    }
  }
  .nav-menus {
    margin-top: 10px;
  }
  // end
  // max-width: 100vw;
  .main-header {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 2.5px 4.33px 30px 0px rgba($primary-color, 0.035);
    height: 6vh;
    .header-left {
      padding-left: 30px;
    }
    .header-right {
      text-align: left;
      padding: 0 30px;
      // 그리드 보려고 참고용으로 강제로 박아둔 height
      // height: 10vh;
      ul {
        li {
          svg {
            margin-top: $main-header-right-nav-icon-margin-top;
            width: $main-header-right-nav-icon-size;
            height: $main-header-right-nav-icon-size;
            path {
              color: $main-header-right-nav-icon-color;
            }
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
      > ul {
        padding: 0 0;
        .search-form {
          input {
            border: none;
            padding: 10px 10px 10px 70px;
            border-radius: 50px;
            background-color: $transparent-color;
            font-size: 16px;
            color: rgba($primary-color, 0.5);
            &::placeholder {
              color: rgba($primary-color, 0.5);
            }
          }
          .form-group {
            position: relative;
            &:before {
              position: absolute;
              content: "";
              width: 1px;
              height: 20px;
              background: rgba($primary-color, 0.2);
              left: 53px;
              top: 12px;
              z-index: 2;
            }
            &:after {
              position: absolute;
              content: "\e618";
              font-family: $font-pe7-icon;
              top: 7px;
              left: 22px;
              color: $primary-color;
              font-size: 20px;
              font-weight: 600;
            }
            .Typeahead-menu {
              box-shadow: 0 4px 8px 0 rgba($black, 0.1);
            }
          }
        }
        > li:first-child {
          width: auto;
          margin: 0;
        }
      }
      &.right-menu {
        ul {
          justify-content: flex-end;
          li {
            position: relative;
            img {
              width: 20px;
            }
            &:before {
              display: none;
            }
            .search-icon {
              border-radius: 100%;
              background-image: $gradient-primary;
              width: 36px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: $common-box-shadow;
              cursor: pointer;
              i {
                color: $white;
              }
            }
            .user-header {
              img {
                width: 120px !important;
                &.otheruser {
                  width: 30px !important;
                  height: 30px !important;
                  border-radius: 100%;
                }
              }
            }
            .notification {
              position: absolute;
              top: -2px;
              right: -9px;
              padding: 5px 7px;
            }
          }
        }
      }
      > ul {
        display: flex;
        align-items: center;
        > li {
          position: relative;
          padding: $main-header-right-padding;
          .form-group {
            width: 100%;
          }
          &:first-child {
            width: 30%;
            margin: 0 auto;
          }
          &:last-child {
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .badge {
            padding: 4px 8px;
          }
          &:first-child {
            &:before {
              top: 2px;
            }
          }
          span {
            letter-spacing: 0.9px;
            .fa {
              color: $gray-60;
            }
            ul {
              left: inherit;
              right: -10px;
              width: 130px;
              &:before,
              &:after {
                left: inherit;
                right: 10px;
              }
              li {
                display: block;
                a {
                  font-size: 14px;
                  color: $dark-color;
                  i {
                    margin-left: 10px;
                    font-size: 13px;
                    color: $dark-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    li {
      display: inline-block;
      position: relative;
    }
  }
}
