.createPost {
  .card {
    .createPostBody {
      .createMenuButton {
        background-color: $oori-gray;
        color: white;
        border: none;
        font-size: small;
        // border-radius: 43%;
        display: inline-block;
        float: right;
      }
      .deletePhotoButton {
        background-color: $oori-gray;
        color: white;
        border: none;
        font-size: small;
        // border-radius: 43%;
        display: inline-block;
        //   float: right;
      }
    }
  }
}
