.mainSupport {
  .supportContent {
    .supportChildContentLeft {
      Button {
        color: white;
        background-color: $oori-yellow;
        border: none;
      }
      #naverMap {
        height: 90%;
      }
    }
    .categoryListBox {
      .categoryListItem {
        &.selectedChildCategoryListItem {
          background-color: $oori-yellow;
          color: $white;
        }
      }
    }

    .supportBox {
      .storeChildListBox {
        height: 40%;
        overflow-y: auto;
        border-color: $oori-yellow;
        border-width: 2px;
        border-style: solid;
        margin-bottom: 5%;
        .mapListItem {
          border-bottom: 1px solid black;
          height: auto;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .storeChildSupportBox {
        height: 40%;
        overflow-y: auto;
        overflow-x: hidden;
        border-color: $oori-yellow;
        border-width: 2px;
        border-style: solid;
      }
    }
  }
}

// .mainSupport {
//   height: 100%;
//   .supportTitle {
//     height: 7%;
//     margin-bottom: 1%;
//   }
//   .supportContent {
//     height: 93%;
//     // 좌측 검색창 및 지도
//     .supportContentLeft {
//       height: 100%;
//       Button {
//         color: white;
//         background-color: $oori-green;
//         border: none;
//       }
//       #naverMap {
//         height: 90%;
//       }
//     }
//     .categoryListBox {
//       height: 100%;
//       // 카테고리 리스트 아이템 1개
//       .categoryListItem {
//         height: auto;
//         // line-height: 2.5em;
//         text-align: center;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         &.selectedCategoryListItem {
//           background-color: $oori-green;
//           color: $white;
//         }
//         &:hover {
//           cursor: pointer;
//           font-weight: bold;
//         }
//       }
//     }
//     .supportBox {
//       height: 90%;
//       .storeListBox {
//         height: 100%;
//         overflow-y: auto;
//         border-color: $oori-green;
//         border-width: 2px;
//         border-style: solid;
//         .mapListItem {
//           border-bottom: 1px solid black;
//           height: auto;
//           &:hover {
//             cursor: pointer;
//           }
//         }
//       }
//     }
//   }
// }
