.supportPageContainer {
  height: 100%;
  position: relative;
  .supportPageTitle {
    height: 10%;
  }
  .supportPageContent {
    height: 90%;
    .supportPageContentLeft {
      height: 100%;
      .row {
        height: 100%;
        // 주소 검색 창
        #addressInput {
          height: 5%;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-right: 0px;
        }
        // 주소 검색 버튼
        #addressButton {
          height: 5%;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
        // 지도 화면
        #naverMap {
          height: 90%;
        }
      }
    }
    .categoryListBox {
      height: 100%;
      // 카테고리 리스트 아이템 1개
      .categoryListItem {
        height: auto;
        // line-height: 2.5em;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        &.selectedCategoryListItem {
          background-color: $secondary-color;
          color: $white;
        }
        &:hover {
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
    // 매장 리스트 박스
    .storeListBox {
      height: 100%;
      overflow-y: auto;
      // 매장 리스트 아이템 1개
      .mapListItem {
        border-bottom: 2px solid grey;
        min-height: 100px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
