.paymentBox {
  height: 100%;

  .paymentInfoBox {
    border: none;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    .card-header {
      background-color: white;
      color: $oori-green;
    }
    .paymentInfoItem {
      background-color: white;
      .menuItemInfo {
        // background-color: red;
      }
      p {
        font-size: small;
      }
      .information {
        color: $oori-green;
        font-size: x-small;
      }
      // border-bottom: 1px solid black;
    }
  }
  .paymentDetailBox {
    height: 95%;
    position: relative;
    .paymentAmount,
    .paymentMessage {
      height: 20%;
    }
    .paymentMethod {
      height: 30%;
      fieldset {
        height: 80%;
        .form-group {
          height: 33%;
        }
      }
    }
    .paymentButton {
      position: absolute;
      bottom: 0;
    }
    label {
      font-size: 20px;
      & > input {
        display: block;
        height: 70%;
      }
    }
  }
}

.paymentSuccessContainer {
  margin-right: auto;
  margin-left: auto;
}
