.paymentBox {
  height: 100%;

  .paymentInfoBox {
    border: none;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    .card-header {
      background-color: white;
      color: $oori-green;
    }
    .paymentInfoItem {
      background-color: white;
      p {
        font-size: small;
      }
      .information {
        color: $oori-green;
        font-size: x-small;
      }
    }
  }
  .paymentDetailBox {
    // height: 60vh;
    height: 95%;
    // background-color: red;
    .card {
      border: none;
      .card-header {
        background-color: white;
        color: $oori-green;
      }
    }
    position: relative;
    .paymentAmount,
    .paymentMessage {
      height: 20%;
    }
    .paymentMethod {
      height: 30%;
      fieldset {
        height: 80%;
        .form-group {
          height: 33%;
          span {
            font-size: small;
          }
        }
      }
    }
    .card-footer {
      background-color: white;
      .paymentButton {
        // position: absolute;
        // bottom: 0;
        color: $oori-white;
        border: none;
        background-color: $oori-green;
      }
    }
    label {
      font-size: 20px;
      & > input {
        display: block;
        height: 70%;
      }
    }
  }
}
