html, body{
	position: relative;
	width: 100%;
	height: 100%;
    background-color: #34383c;
}

.carousel-container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel{
	width: 80%;
	height: 100%;
}

.carousel-inner{
	width: 100%;
	height: 100%;
}
.carousel-item{
	width: 100%;
	height: 100%;
}

.bookmark-container{
	width: 100%;
	height: 100%;
    display: flex;
	flex-wrap: wrap;
	padding: 50px 50px;
}

.bookmark{
    /* 세로 가운데 배치, 마진*/
    width: 20%;
	height: 40%;
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	margin: 2.5% 2.5%;
	background-color: #eff2f8;
	border-radius: 20px;
}

.bookmark2{
    /* 세로 가운데 배치, 마진*/
    width: 40%;
	height: 40%;
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	margin: 5% 5%;
	background-color: #eff2f8;
	border-radius: 20px;
}

.bookmark:hover{
    cursor: pointer;
}

.bookmark-image-layout{
    /* radius 20px, color #eff2f8  size 50px*/
    /* 세로 가운데 배치 */
    display: flex;
    align-items: center;
	width: 80%;
	height: 50%;
    background-color: #eff2f8;
    border: 1px #000000 solid;
    border-radius: 20px;
    padding: 9px;
    margin-bottom: 5px;
}

.bookmark-image{
    /* size 28px */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px #eff2f8 solid;
    border-radius: 7px;

}

.bookmark-text1{
    font-size: 25px;
    font-weight: 700;
    color: #000000;
}

.bookmark-text2{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.six-four{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.arrow-border{
	border: 1px #ffffff solid;
    border-radius: 20px;
}

.arrow-width{
	margin: 10px 10px;
	width: 80px;
}

.carousel-control-next{
	height: 95%;
	position: relative;
}

.carousel-control-prev{
	height: 95%;
	position: relative;
}

.fade-out{
	animation: animate 1.5s linear infinite;
}

@keyframes animate {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		
	}
}
