// App.js에서 최상단 Container(fluid)
.mainContainer {
  height: 100%;
  background-color: $oori-bright-white;

  // 중앙 영역
  .mainBody {
    height: 73%;
    padding: 1% 3%;
    #title {
      h3 {
        margin-bottom: 0;
        color: $oori-gray-pinstripe;
      }
      height: 7%;
      margin-bottom: 1%;
      background-color: $oori-lucent-white;
      border-bottom: solid $oori-green;
      padding: 0.5% 2%;
    }
    // 내부에서 스크롤이 생기게 변경
    overflow-y: hidden;
    overflow-x: hidden;
    .billboard {
      height: 100%;
      .carousel-inner {
        height: 100%;
        .custom-tag {
          height: 100%;
          .carouselItem {
            height: 100%;
          }
          .banner > a {
            display: block;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
