.detailPost {
  .card {
    border-color: $oori-green;
    border-width: 2px;

    .detailPostQHeader {
      background-color: $oori-green;
      span {
        float: right;
      }
    }

    .detailPostQBody {
      height: 25vh;
      overflow-y: auto;
    }

    .detailPostAHeader {
      background-color: $oori-green;
    }

    .detailPostABody {
      height: 25vh;
      overflow-y: auto;
    }

    .detailPostButton {
      background-color: $oori-green;
      .detailPostUpdateButton,
      .detailPostDeleteButton {
        background-color: $oori-white;
        color: $oori-green;
        border: none;
        border-radius: 20%;
        display: inline-block;
        float: right;
      }
      .detailPostBackButton {
        background-color: $oori-white;
        color: $oori-green;
        border: none;
        border-radius: 20%;
        display: inline-block;
      }
    }
  }
}
