.listPost {
  .card {
    border-color: $oori-green;
    border-width: 2px;

    .listPostHeader {
      background-color: $oori-green;
      h5 {
        display: inline;
      }
      .listPostHeaderButton {
        background-color: $oori-white;
        color: $oori-green;
        border: none;
        border-radius: 20%;
        display: inline-block;
        float: right;
      }
      .listPostHeaderCaution {
        color: $oori-white;
        border: none;
        display: inline-block;
        float: right;
      }
    }

    .listPostBody {
      height: 70vh;
      overflow-y: auto;
    }
    .myQna {
      background-color: rgb(252, 252, 238);
    }
  }
}
